# App
APP_ENV=development

# HTTP
HTTP_ADDR=:8080
OPENAPIYAML_LOCATION=../openapi.yaml

# Database
DB_SOURCE=dashboard.db

# JWT
JWT_SECRET=your-very-secret
JWT_EXPIRED=24h

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
